li.notification {
    opacity: 0;
    transform: translateX(100px) scale(0);
    /* set the scale point to the bottom left corner of the notification */
    transform-origin: bottom right;
    max-width: 300px;
    height: auto;
    padding: 0;
    margin-bottom: 0;
    font-size: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    overflow: hidden;
}

li.notification:hover {
    cursor: pointer;
}

li.notification.show {
    opacity: 1;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 12px 20px;
    transform: translateX(0) scale(1);
}

li.notification.info {
    background-color: #2196f3;
}

li.notification.warning {
    background-color: #ff9800;
}

li.notification.error {
    background-color: #f44336;
}

li.notification.success {
    background-color: #4caf50;
}

ol#notification-list {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 9999;
}